{% extends "base.html" %}
{% block content %}
<h2>All Reported Items</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Item Name</th>
        <th>Status</th>
        <th>Description</th>
        <th>User ID</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.item_id }}</td>
        <td>{{ item.item_name }}</td>
        <td class="{{ item.status }}">{{ item.status.capitalize() }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.user_id }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
